In [1]:
import pandas as pd

In [3]:
startup = pd.read_csv('Datasets/startup_funding.csv')
startup.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [4]:
amount = startup['AmountInUSD']
amount.head()

0    1,300,000
1          NaN
2          NaN
3      500,000
4      850,000
Name: AmountInUSD, dtype: object

In [5]:
amount.dropna(inplace = True)
amount.head()

0    1,300,000
3      500,000
4      850,000
5    1,000,000
6    2,600,000
Name: AmountInUSD, dtype: object

In [6]:
a1 = amount.str.replace(',','')
a1.head()

0    1300000
3     500000
4     850000
5    1000000
6    2600000
Name: AmountInUSD, dtype: object

In [7]:
a1[0]

'1300000'

In [11]:
a2 = pd.to_numeric(a1)
a2.head()

0    1300000
3     500000
4     850000
5    1000000
6    2600000
Name: AmountInUSD, dtype: int64

In [12]:
a2[0]

1300000

In [16]:
population_min = a2.min()
population_max = a2.max()
population_mean = a2.mean()

In [17]:
print(population_min)
print(population_max)
print(population_mean)

16000
1400000000
12031073.099016393

## Simple Random Sampling

In [13]:
population = a2
sample_size = 100

In [14]:
population.sample()

340    7500000
Name: AmountInUSD, dtype: int64

In [15]:
population.sample()

2257    75000000
Name: AmountInUSD, dtype: int64

In [19]:
population.sample(sample_size)

1052      1000000
1041     10000000
2213      5000000
960        150000
2236       180000
          ...
820        104000
2258      3000000
1094      1000000
2080    100000000
2282     20000000
Name: AmountInUSD, Length: 100, dtype: int64

In [22]:
population.sample(sample_size)

867      1070000
370     70000000
407       650000
2139      200000
1750    10000000
          ...
1573     2500000
133        50000
500      2000000
1310      100000
31      10000000
Name: AmountInUSD, Length: 100, dtype: int64

In [23]:
population.sample(sample_size,random_state = 1)

142      4000000
1931    16200000
309       325000
985     25000000
439        18000
          ...
1347     3000000
1810    30000000
1721      150000
1913    30000000
777      1500000
Name: AmountInUSD, Length: 100, dtype: int64

In [24]:
population.sample(sample_size,random_state = 1)

142      4000000
1931    16200000
309       325000
985     25000000
439        18000
          ...
1347     3000000
1810    30000000
1721      150000
1913    30000000
777      1500000
Name: AmountInUSD, Length: 100, dtype: int64

In [29]:
sample = population.sample(sample_size,random_state = 1)
sample

142      4000000
1931    16200000
309       325000
985     25000000
439        18000
          ...
1347     3000000
1810    30000000
1721      150000
1913    30000000
777      1500000
Name: AmountInUSD, Length: 100, dtype: int64

In [32]:
sample_min = sample.min()
sample_max = sample.max()
sample_mean = sample.mean()

print(sample_min)
print(sample_max)
print(sample_mean)

18000
1400000000
24592930.0

In [33]:
print(population_min,' ',sample_min)
print(population_max,' ',sample_max)
print(population_mean,' ',sample_mean)

16000   18000
1400000000   1400000000
12031073.099016393   24592930.0

### Problem 1
### Average Funding (Without Replacement)

Download the file startup_funding
Problem Statement :
We want to find out the average amount of funding given to startups which are in either Bangalore or in New Delhi.
For this - rather than considering all the startups, take a sample of size 50 (without replacement) and sample of size 75 (with replacement). Then find the average amount of funding from this sample and calculate the Sampling Error for each.
Sampling Error = Average(Population) - Average(Sample)
Note:
Take city name "Delhi" as "New Delhi".
Check the case-sensitiveness of cities also. That means - at some place, instead of "Bangalore", "bangalore" is given. Take city name as "Bangalore"
Output :
Print Sampling Error

In [44]:
data = startup[(startup['CityLocation']=='Bangalore') | (startup['CityLocation']=='bangalore') | (startup['CityLocation']=='Delhi') | (startup['CityLocation']=='New Delhi')]

In [45]:
amount1 = data['AmountInUSD']
amount1.dropna(inplace = True)
a1 = amount.str.replace(',','')
a2 = pd.to_numeric(a1)

<ipython-input-45-9e31aa87ca88>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amount1.dropna(inplace = True)

In [49]:
population_avg = a2.mean()

In [53]:
sample_without_replacement = a2.sample(50, random_state = 1)
sample_with_replacement = a2.sample(75,replace = True,random_state = 1)

sample_without_replacement_mean = sample_without_replacement.mean()
sample_with_replacement_mean = sample_with_replacement.mean()

In [54]:
sampling_error_without_replacement = population_avg - sample_without_replacement_mean
sampling_error_with_replacement = population_avg - sample_with_replacement_mean

In [55]:
print(sampling_error_without_replacement)
print(sampling_error_with_replacement)

1569473.0990163926
3299971.659016393

## Stratified Sampling

In [1]:
import pandas as pd
data=pd.read_csv('Datasets/startup_funding.csv')
df=data.copy()
df_population=df.loc[(df['CityLocation']=='Bangalore')|
                     (df['CityLocation']=='bangalore')|
                     (df['CityLocation']=='Delhi')|
                     (df['CityLocation']=='New Delhi')|
                     (df['CityLocation']=='Gurgaon')|
                     (df['CityLocation']=='Noida')|
                     (df['CityLocation']=='Mumbai')|
                     (df['CityLocation']=='Pune')|
                     (df['CityLocation']=='Hyderabad')]
df_population.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [2]:
df_bangalore=df.loc[(df['CityLocation']=='Bangalore')|(df['CityLocation']=='bangalore')]
df_ncr=df.loc[(df['CityLocation']=='Delhi')|(df['CityLocation']=='New Delhi')|(df['CityLocation']=='Gurgaon')|(df['CityLocation']=='Noida')]
df_mumbai=df.loc[df['CityLocation']=='Mumbai']
df_pune=df.loc[df['CityLocation']=='Pune']
df_hyderabad=df.loc[df['CityLocation']=='Hyderabad']

In [3]:
amount_population=df_population.AmountInUSD
amount_population.dropna(inplace=True)
amount_population=amount_population.str.replace(',', '')
amount_population=pd.to_numeric(amount_population)
pop_max=amount_population.max()

<ipython-input-3-b99b011bda51>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amount_population.dropna(inplace=True)

In [4]:
s=[]
amount=df_bangalore.AmountInUSD.dropna().str.replace(',', '')
amount=pd.to_numeric(amount)
sample=amount.sample(20)
for j in sample:
    s.append(j)

amount=df_hyderabad.AmountInUSD.dropna().str.replace(',', '')
amount=pd.to_numeric(amount)
sample=amount.sample(20)
for j in sample:
    s.append(j)

amount=df_mumbai.AmountInUSD.dropna().str.replace(',', '')
amount=pd.to_numeric(amount)
sample=amount.sample(20)
for j in sample:
    s.append(j)

amount=df_ncr.AmountInUSD.dropna().str.replace(',', '')
amount=pd.to_numeric(amount)
sample=amount.sample(20)
for j in sample:
    s.append(j)

amount=df_pune.AmountInUSD.dropna().str.replace(',', '')
amount=pd.to_numeric(amount)
sample=amount.sample(20)
for j in sample:
    s.append(j)
    
stat_max=max(s)

In [5]:
error=pop_max-stat_max
error

900000000

### Proportionate Stratified Sampling

In [6]:
len(df_population)

1937

In [7]:
size_population = len(df_population)
size_banglore = len(df_bangalore)
size_ncr = len(df_ncr)
size_mumbai = len(df_mumbai)
size_pune = len(df_pune)
size_hyderabad = len(df_hyderabad)

In [12]:
sam_banglore = round((size_banglore/size_population)*100)
sam_ncr = round((size_ncr/size_population)*100)
sam_mumbai = round((size_mumbai/size_population)*100)
sam_pune = round((size_pune/size_population)*100)
sam_hyderabad = round((size_hyderabad/size_population)*100)

In [13]:
s=[]
amount=df_bangalore.AmountInUSD.dropna().str.replace(',', '')
amount=pd.to_numeric(amount)
sample=amount.sample(sam_banglore)
for j in sample:
    s.append(j)

amount=df_hyderabad.AmountInUSD.dropna().str.replace(',', '')
amount=pd.to_numeric(amount)
sample=amount.sample(sam_hyderabad)
for j in sample:
    s.append(j)

amount=df_mumbai.AmountInUSD.dropna().str.replace(',', '')
amount=pd.to_numeric(amount)
sample=amount.sample(sam_mumbai)
for j in sample:
    s.append(j)

amount=df_ncr.AmountInUSD.dropna().str.replace(',', '')
amount=pd.to_numeric(amount)
sample=amount.sample(sam_ncr)
for j in sample:
    s.append(j)

amount=df_pune.AmountInUSD.dropna().str.replace(',', '')
amount=pd.to_numeric(amount)
sample=amount.sample(sam_pune)
for j in sample:
    s.append(j)
    
stat_max=max(s)

In [15]:
error=pop_max-stat_max
error

900000000